
  <div class="container-fluid text-header">
          <h1 class="titre">dejeuner</h1>
        </div>
        <div class="container content">
        <p id="notice"><%= notice %></p>
          <div class="row">
            <div class="col-md-6">
              <div class="blc-button">
                <a href='dejeuners/new' class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Nouveau menu </a>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>


          <div class="row">
              <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Libelle</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th class="align-center action">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @dejeuners.each do |dejeuner| %>
                      <tr>
                          <td><%= dejeuner.libelle %></td>
                          <td><%= dejeuner.description %> </td>
                          <td><%= dejeuner.prix %> </td>
                          <td> 
                            <%= link_to 'Show', dejeuner, :class => "btn btn-primary btn-sm" %> <%= link_to 'Edit', edit_dejeuner_path(dejeuner), :class => "btn btn-primary btn-sm" %> <%= link_to 'Delete', dejeuner, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm" %>
                          </td>                         
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

